@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Titillium Web', sans-serif;
}

.font-Bebas-Neue {
  font-family: 'Bebas Neue', sans-serif;
}

.container-class {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1320px;
}

@media (max-width: 900px) {
  .container-class {
    @apply px-10;
  }
}

@media (min-width: 900px) and (max-width: 1479px) {
  .container-class {
    @apply px-20;
  }
}

@media (max-width: 899px) {
  .container-class {
    @apply px-2;
  }
}

.hover-links:hover .header-link {
  color: #e0872c;
  transition-duration: 500ms;
}

.hover-links:hover .fill-icon {
  fill: #e0872c;
  transition-duration: 500ms;
}

.hover-links:hover .hover-line {
  stroke: #e0872c;
  transition-duration: 500ms;
}

.bg-custom {
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
}

.get-placeholder::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: #828282;
}

.hover-input:hover .input-class {
  border-color: #e0872c;
  transition-duration: 500ms;
}

.hover-input:hover .input-svg {
  fill: #e0872c;
  transition-duration: 500ms;
}

.circle-background {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #008421;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  background-color: #f5f5f5;
}

.qty-border {
  display: inline-block;
  width: 48px;
  height: 48px;
  color: #008421;
  border: 2px solid #2f2f2f;
  text-align: center;
  line-height: 44px;
  font-size: 14px;
}

@media(min-width: 555px) {
  .car-image {
    max-width: 294px;
    height: 145px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media(max-width: 554px) {
  .car-image {
    max-width: 144px;
    height: 94.5px !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hidden-class {
  display: none;
}

.hidden-class-desktop {
  display: none;
}

.green-class {
  color: #008421;
}

.green-class-desktop {
  color: #008421;
}

.svg-rotate {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.svg-rotate-desktop {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.svg-rotate path {
  fill: #008421;
}

.svg-rotate-desktop path {
  fill: #008421;
}